body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #eff6ff, #91b3dc); /* Greyish gradient */
  animation: rotateGradient 10s linear infinite; /* Rotate the gradient */
  color: #333;
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-form, .verification-box {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.signin-form:hover, .verification-box:hover {
  transform: scale(1.05); /* Scale evenly from the center */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.signin-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  box-sizing: border-box;
}

.signin-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.signin-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.info-message {
  color: #007bff;
  margin-bottom: 10px;
}

.toggle-link {
  margin-top: 15px;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-link:hover {
  color: #0056b3;
  text-decoration: underline;
}